.App {
    text-align: center;
    background-color: #282c34;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .company-banner {
    width: 100%;
    position: relative;
    align-content: center;
  }
  
  .Heading {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .Heading > h2 {
    font-size: 40px;
  }
  .searchField {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    align-items: baseline;
    color: #5e5e5e;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
  }
  label {
    margin: 0px 8px 0px 8px;
    font-weight: 500;
    font-size: 20px;
  }
  .container {
    position: absolute;
    top: 100px;
    left: calc(50% - 450px);
    width: 900px;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .btn_search {
    width: 100px;
    height: auto;
    display: flex;
    margin: 10px;
    background-color: DodgerBlue;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  .btn_search:hover {
    background-color: #ff6347;
  }
  .jobsView {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;

  }
  .jobs {

    display: flex;
    width: 350px;
    border-width: thin;
    border-color: #282c34;
    height: auto;
    background-color: #fff;
    justify-content: flex-start;
    margin: 20px 50px 10px 0px;
    border-radius: 10px;
    flex-direction: column;
    font-size: 18;

  }
  .jobs > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
    height: 150px;
  }
  .jobDetails {
    text-align: left;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
  }
  .btns {
    display: flex;
    flex-direction: row;
    margin: -10px;
  }
  .btn_Apply {
    width: autpo;
    height: 30px;
    display: flex;
    margin: 10px;
    background-color: DodgerBlue;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
  }
  
  .btn_Cancel {
    width: autpo;
    height: 30px;
    display: flex;
    margin: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  